*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.film-title{
  text-align: center;
  margin: 1rem;
}
select.film-select{
  margin-bottom: 2rem;

}

.film-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.film-list h3 {
  color: blue;
}

.film-card {
  display: flex;
  gap: 10px;
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
